@model ML3.Models.PersonalizationProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalizationProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredContentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmotionalState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmotionalState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Learner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Learner.LearnerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-learnerId="@Model.LearnerId" asp-route-profileId="@Model.ProfileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
